<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1066956613303-2ebg4qslqtt78ifhqft1vopkbm58rtf2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1066956613303-2ebg4qslqtt78ifhqft1vopkbm58rtf2</string>
	<key>API_KEY</key>
	<string>AIzaSyAydOoc_0YmYF6-zKoe10wmnWxuDLKEFoo</string>
	<key>GCM_SENDER_ID</key>
	<string>1066956613303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SquadSeeker</string>
	<key>PROJECT_ID</key>
	<string>squadfinder-3b287</string>
	<key>STORAGE_BUCKET</key>
	<string>squadfinder-3b287.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1066956613303:ios:32f6df529f2ec282</string>
	<key>DATABASE_URL</key>
	<string>https://squadfinder-3b287.firebaseio.com</string>
</dict>
</plist>